<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AICPMPatch</key>
	<string>Yes</string>
	<key>AppleRTCPatch</key>
	<string>Yes</string>
	<key>OrangeIconFixSata</key>
	<string>Yes</string>
	<key>TrimEnablerSata</key>
	<string>Yes</string>
</dict>
</plist>
